APP_URL=http://localhost:3000
CORS_URL=http://localhost:8080

DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[DB_PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres
DB_SSL=true

JWT_SECRET_PASSWORD=CAMBIAR_POR_CLAVE_LARGA_Y_SEGURA

SUPABASE_PROJECT_REF=dwgyvocxsstcnilyslam
SUPABASE_ANON_KEY=eyJhbGci...

# Groq AI - gratis en https://console.groq.com
GROQ_API_KEY=gsk_...
